{% extends "main/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <div class="container p-4">
        <h2 class="m-2"><strong>{{ content }}</strong></h2>
        <p class="m-2">{{ text_on_page }}</p>
        </div>
    </div><section id="our-doctors">
    <h2>Наши врачи</h2>
    <div class="doctor-list">
        <div class="doctor-card">
            <img src="{% static 'deps/images/doctor1.png' %}" alt="Доктор Иванов" class="doctor-photo">
            <h3>Доктор Иванов Иван Иванович</h3>
            <p>Специальность: Терапевт</p>
            <p>Опыт работы: 10 лет</p>
            <p>Краткая информация: Внимательный врач с большим опытом работы в терапевтической практике.</p>
        </div>

        <div class="doctor-card">
            <img src="{% static 'deps/images/doctor2.png' %}" alt="Доктор Петрова" class="doctor-photo">
            <h3>Доктор Петрова Анна Сергеевна</h3>
            <p>Специальность: Хирург</p>
            <p>Опыт работы: 8 лет</p>
            <p>Краткая информация: Специализируется на малоинвазивных операциях и восстановлении.</p>
        </div>

        <div class="doctor-card">
            <img src="{% static 'deps/images/doctor3.png' %}" alt="Доктор Смирнов" class="doctor-photo">
            <h3>Доктор Смирнов Алексей Владимирович</h3>
            <p>Специальность: Консультант-онколог</p>
            <p>Опыт работы: 12 лет</p>
            <p>Краткая информация: Обладает глубокими знаниями в области ранней диагностики рака.</p>
        </div>

        <!-- Добавьте дополнительные карточки врачей по аналогии -->
    </div>
</section>
{% endblock %}



{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright & MADE BY ILYA GRIGORIEV</p>
    </div>
</footer>
{% endblock %}


